*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --progress-bar-full: #710707;
  --progress-bar-empty: #C4C4C4;
}

html {
  box-sizing: border-box;
}

.wrapper {
  max-width: calc(1440px);
  margin: 0 auto;
}

/* start video */
.player {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 0;
  border: 0px solid #000000;
  position: relative;
}

.player__control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85px;
  gap: 50px;
  padding: 0 30px;
  background-color: #000000;
}

.player__button{
  border: 0;
}

.player__back {
  width: 27px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-back.svg");
}

.player__play {
  width: 23px;
  height: 30px;
  background: transparent url("../assets/svg/player-play.svg");
}

.player__pause {
  width: 23px;
  height: 30px;
  background: transparent url("../assets/svg/player-pause.svg");
}

.player__forward {
  width: 27px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-forward.svg");
}

.player__mute {
  width: 38px;
  height: 30px;
  background: transparent url("../assets/svg/player-mute.svg");
}

.player__mute__on {
  background: transparent url("../assets/svg/player-mute-on.svg");
}

.player__fullscreen {
  width: 36px;
  height: 36px;
  background: transparent url("../assets/svg/player-full.svg");
}

.player__bar {
  background: linear-gradient(to right, var(--progress-bar-full) 0%, var(--progress-bar-full) 0%, var(--progress-bar-empty) 0%, var(--progress-bar-empty) 100%);
  border: solid 1px #000;
  border-radius: 0;
  height: 8px;
  outline: none;

  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.player__bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.player__progress-bar {
  width: 929px;
}

.player__volume {
  width: 155px;
}

.player__on_screen_play {
  background: transparent url("../assets/svg/player-big-play.svg");
  height: 220px;
  width: 220px;
  position: absolute;
  border: none;

  top: calc((100% - 83px)/2 - 110px);
  left: calc(50% - 110px);
}


/* end video */
