*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.wrapper {
  max-width: calc(1440px);
  margin: 0 auto;
}

/* start video */
.player {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 0;

  border: 1px solid #000000;
  position: relative;
}


.player__control {
  display: flex;
  align-items: center;
  height: 83px;

  background-color: #000000;
}

.player__button{
  border: 0;
}

.player__back {
  width: 27px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-back.svg");
}

.player__play {
  width: 23px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-play.svg");
}

.player__pause {
  width: 23px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-pause.svg");
}


.player__forward {
  width: 27px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-forward.svg");
}

.player__mute {
  width: 38px;
  height: 30px;
  margin-left: 41px;
  background: transparent url("../assets/svg/player-volume.svg");
}

.player__fullscreen {
  width: 36px;
  height: 36px;
  margin-left: 48px;
  background: transparent url("../assets/svg/player-full.svg");
}

.player__bar {
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #C4C4C4 50%, #C4C4C4 100%);
  border: solid 1px #000;
  border-radius: 0;
  height: 8px;
  width: 820px;
  outline: none;
  margin-left: 41px;

  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.player__bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.player__volume {
  width: 155px;
  margin-left: 20px;
}

.player__on_screen_play {
  background: transparent url("../assets/svg/player-big-play.svg");
  height: 220px;
  width: 220px;
  position: absolute;
  border: none;

  top: calc((100% - 83px)/2 - 110px);
  left: calc(50% - 110px);
}


/* end video */
