/* FONTS */
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
  url('../assets/fonts/roboto-v27-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v27-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url('../assets/fonts/roboto-v27-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v27-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../assets/fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../assets/fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* forum-regular - latin */
@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../assets/fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GLOBAL SETTINGS */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --section-background-dark: #030303;
  --section-background-light: #E5E5E5;

  --section-header-dark: #FFFFFF;
  --section-header-light: #9D8665;

  --text-font-gold: #9D8665;

  --dark-red: #710707;
}

.body {
  display: flex;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HIDE H1 */
h1 {
  display: none;
}

/* GLOBAL SECTIONS AND CONTAINER */
.container {
  display: flex;
  width: 1440px;
  margin: auto;
}

.section {
  display: flex;
}

.section-dark {
  background-color: var(--section-background-dark);
}

.section-light {
  background-color: var(--section-background-light);
}

/* SECTION TITLES */
.section-title {
  position: relative;
  font-family: "Forum", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;

  text-transform: uppercase;
  white-space: nowrap;
}

.light-title {
  color: var(--section-header-dark);
}

.dark-title {
  color: var(--section-header-light);
}

.title-underline {
  padding-bottom: 28px;
}

.title-underline:after {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 3px;
  content: '';

  background: #710707;
}

/* HEADER */
.container-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo__link {
  position: relative;

  display: inline-block;
  padding-left: 74px;

  font-family: Forum, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;

  background-origin: border-box;
  background: transparent url("../assets/svg/logo.svg") no-repeat left top 8px;
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 55px;
}

.nav__button {
  display: none;
}

.nav__item__text {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: color 0.5s;
}

.nav__item__text:hover,
.nav__item__text:active,
.nav__item__text:focus {
  color: var(--text-font-gold);
}

/* WELCOME */
.container-welcome {
  height: 750px;
  padding-bottom: 60px;
  position: relative;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to right, #000000 30%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0) 60%), url("../assets/img/welcome-slider/1.jpg") no-repeat top right;
}

.welcome__textbox {
  margin-top: 150px;
}

.welcome__text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 25px;
}

.welcome__button {
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  margin-top: 75px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--section-header-dark);
  transition: background-color 0.5s;
}

.welcome__button:hover,
.welcome__button:active,
.welcome__button:focus {
  background: var(--text-font-gold);
}

.welcome-slider {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  box-sizing: border-box;
  width: 600px;
  height: 120px;
  background-color: var(--section-background-dark);
  padding: 40px 74px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.slider__position {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height, or 182% */

  text-transform: uppercase;
  color: var(--section-background-light);
}

.slider__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  align-items: center;

}

.slider__item {
  list-style: none;
  width: 16px;
  height: 16px;
  background-color: var(--section-background-light);
}

.slider__arrows {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.slider-checked {
  background-color: #D2B183;
}

.slider__arrow-left {
  border: 0;
  height: 8px;
  width: 30px;
  background: transparent url("../assets/svg/arrow-left.svg") no-repeat;
}

.slider__arrow-right {
  border: 0;
  height: 8px;
  width: 30px;
  background: transparent url("../assets/svg/arrow-rigth.svg") no-repeat;
}

/* Tour */
.container-tour {
  display: flex;
  flex-direction: column;
  padding: 75px 0;
  width: 100%;
}

.tour-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 77px 60px;
  padding-top: 75px;
}

.tour-card__title {
  position: relative;
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #000000;
  padding-top: 20px;
  padding-bottom: 12px;
}

.tour-card__title::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  content: '';
  min-width: 300px;
  transition: all 0.5s linear;
  height: 2px;

  background: #710707;
  border-radius: 0;
}

.tour-card__link:hover .tour-card__title::after {
  min-width: 100%;
}

.tour-card__link {
  color: #000000;
  text-decoration: none;
}

.tour-card__image {
  width: 440px;
  height: 285px;
}

.tour-card__subtitle1 {
  margin: 10px 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.tour-card__subtitle2 {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* EXPLORE */
.container-explore {
  display: flex;
  flex-direction: row;
  padding: 75px 0;
  gap: 60px;
}

.explore-paragraph {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.explore-paragraph-highlight {
  color: #CAAA7D;
}

.explore-text {
  margin: 75px 0;
}

.explore-image {
  margin-top: 15px;
  height: 700px;
}

/* VIDEO */
.container-video {
  display: flex;
  flex-direction: column;
  /*row-gap: 75px;*/
  padding: 75px 0;
  width: 100%;
}

.video-textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 115px;

  font-family: Roboto,serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

.player {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black;
  width:100%;
  /*height: 735px;*/
  margin-top: 75px;
  margin-bottom: 40px;
}

.player-video {
  width: 1440px;
  height: 650px;
}

.player-screen_button {
  position: absolute;
  border: none;
  background: transparent url("../assets/svg/player/screen-button.svg");
  width: 220px;
  height: 220px;
  z-index: 2;
  top: calc(50% - 155px);
  left: calc(50% - 110px);
}

.player-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  background-color: black;
  height: 85px;
  padding-left: 30px;
}

.player-play {
  border: none;
  width: 23px;
  height: 31px;
  background: transparent url("../assets/svg/player/play.svg");
}
.player-progress {
  width: 929px;
}
.player-mute {
  border: 0;
  width: 38px;
  height: 31px;
  background: transparent url("../assets/svg/player/mute.svg");
}

.player-volume {
  width: 155px;
}

.player-fullscreen {
  border: none;
  width: 35px;
  height: 35px;
  background: transparent url("../assets/svg/player/fullscreen.svg");
}

.playlist {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.playlist-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playlist-preview {
  width: 452px;
  height: 254px;
}

.playlist__items {
  align-self: center;
  display: flex;
  gap: 20px;
}
.playlist__item {
  list-style: none;
  display: block;
  width: 12px;
  height: 12px;
  background: #999999;
  border-radius: 50%;
}
.playlist__item-checked {
  background: #333333;
}
.playlist__items .playlist__item:first-child {
  width: 10px;
  background: transparent url("../assets/svg/player/arrow-left.svg");
}
.playlist__items .playlist__item:last-child {
  width: 10px;
  background: url("../assets/svg/player/arrow-right.svg");
}

/* GALLERY */
.container-gallery {
  width: 100%;
  position: relative;
  padding-top: 75px;
}

.gallery-wrapper {
  margin-top: 75px;
  height:1960px;
  overflow-y: hidden;

}
.gallery-inner-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 2900px;
  column-gap: 36px;
}
.gallery__pic {
  /*width: 456px;*/
  margin-bottom: 24px;
}

.gallery__pic img {

  width: 456px;
}

.gallery__shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/* TICKETS */
.container-tickets {
  padding: 75px 0;
  width: 100%;
}
.tickets-inner-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 75px;
}

.ticket-header {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.ticket-price {
  letter-spacing: 1.65px;
}

.ticket-type__box {

}

/* PARALLAX */
.section-parallax {
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* CONTACTS */
.container-contacts {
  width: 100%;
  padding: 75px 0;
}
.contacts-content {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts-textbox {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.contacts-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}

.contacts-text {
  margin-bottom: 25px;
}

.contacts-map {
  /*width: 960px;*/
}



/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
}

.container-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 140px;
  padding: 70px 0 50px 0;
  width: 100%;

}

.footer-nav .nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px 170px;
  max-height: 140px;
  justify-content: space-between;
  justify-items: center;
}

.footer-nav .nav__item__text {
  font-family: Roboto,serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: color 0.5s;
}


.social-buttons {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  gap: 25px;
  margin-bottom: 5px;
}
.social-buttons  a {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.social-youtube {
  background-image: url("../assets/svg/social/youtube.svg");
}
.social-instagram {
  background-image: url("../assets/svg/social/instagram.svg");
}
.social-facebook {
  background-image: url("../assets/svg/social/facebook.svg");
}
.social-twitter {
  background-image: url("../assets/svg/social/twitter.svg");
}
.social-pinterest {
  background-image: url("../assets/svg/social/pinterest.svg");
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.footer-separator {
  border-bottom: #666666 solid 3px;
}