<link href="css/quiz.css" rel="stylesheet">
<audio id="player"></audio>
<header class="header">
    <div class="container">
        <button class="exitButton"></button>
        <div class="timer">0</div>
    </div>
</header>
<main class="main">
    <div class="counter">
        <ul class="counter-list">
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
            <li class="counter-item"></li>
        </ul>
    </div>
    <div class="container task">

    </div>
</main>
<div class="showAnswer">
    <div class="answer-wrap">
        <img class="answer-image" src="" alt="">
        <img class="answer-icon" src="" alt="">
    </div>
    <div class="answer-title"></div>
    <div class="answer-artist"></div>
    <button class="btn answer-button">Дальше</button>
</div>

<div class="stopQuiz">
    <div class="stopQuiz-shadow">
        <div class="stopQuiz-form">
            <div class="stopQuiz-text">Вы действительно хотите выйти из игры?</div>
            <div class="button-wrap">
                <button class="stopQuiz-cancel btn">Отмена</button>
                <button class="stopQuiz-yes btn">Да</button>
            </div>
        </div>
    </div>
</div>

<div class="finish">
    <img alt="" src="assets/svg/cup.svg">
    <div class="finish-greet">Ваш результат:</div>
    <div class="finish-rate">8/10</div>
    <button class="finish-next btn">Дальше</button>
</div>


</div>
<script src="js/quizLogic.js" type="module"></script>