<header class="header">
    <div class="container">
        <a class="btn" href="#">Назад</a>
        <h1 class="logo">Настройки</h1>
    </div>
</header>
<main class="main">
    <div class="container">
        <div class="settings">
            <div>
                <label for="volume">Громкость</label>
                <input id="volume" max="100" min="0" name="volume" type="range">
                <input id="mute" name="mute" type="checkbox">
                <label for="mute">Выключить звук</label>
            </div>
            <div>
                <label for="timeLimit">Игра на время</label>
                <input id="timeLimit" name="timeLimit" type="checkbox">
            </div>
            <div>
                <label for="quizInterval">Время на ответ</label>
                <input id="quizInterval" max="30" min="5" name="quizInterval" step="5" type="number">
            </div>
            <div>
                <button id="default">По умолчанию</button>
                <button id="save">Сохранить</button>
            </div>
        </div>
    </div>
    <script src="js/settings_menu.js">

    </script>
</main>
